/* ------------------- */
/* Buttons         */
/* ------------------- */
.btn {
  font-family: inherit;
  padding: 1rem 2.5rem;
  outline: 0;
  border-radius: var(--border-radius-2sm);
  -webkit-border-radius: var(--border-radius-2sm);
  -moz-border-radius: var(--border-radius-2sm);
  -ms-border-radius: var(--border-radius-2sm);
  -o-border-radius: var(--border-radius-2sm);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.7rem;
}
.btn__primary {
  color: var(--white-color);
  background-color: var(--main-color);
}
.btn__primary:hover {
  background-color: var(--main-color);
}
.btn__secondary {
  color: var(--primary-color);
  background: var(--primary-color-2);
  font-weight: var(--font-bold);
}
/* ------------------- */
/* Inputs         */
/* ------------------- */
.form-group {
  position: relative;
}
.form-input {
  width: 100%;
  outline: 0;
  padding: 1.9rem 3.7rem;
  outline: 0;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: var(--border-radius-2sm);
  -webkit-border-radius: var(--border-radius-2sm);
  -moz-border-radius: var(--border-radius-2sm);
  -ms-border-radius: var(--border-radius-2sm);
  -o-border-radius: var(--border-radius-2sm);
  font-size: var(--font-size-xl);
  color: var(--primary-color-3);
  transition: border-color 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out;
  -moz-transition: border-color 0.15s ease-in-out;
  -ms-transition: border-color 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out;
}
.form-group i {
  position: absolute;
  font-size: var(--font-size-1xl);
  left: 1rem;
  top: calc(50% - 0.49em);
  color: var(--primary-color);
}
.section-title {
  margin-bottom: 4rem;
}
/* ------------------- */
/* Box icon        */
/* ------------------- */
.categories-item-box {
  text-align: center;
  border-radius: var(--border-radius-2sm);
  -webkit-border-radius: var(--border-radius-2sm);
  -moz-border-radius: var(--border-radius-2sm);
  -ms-border-radius: var(--border-radius-2sm);
  -o-border-radius: var(--border-radius-2sm);
  padding: 2.4rem 4rem;
  -webkit-box-shadow: 5px 6px 20px rgb(0 0 0 / 10%);
  box-shadow: 5px 6px 20px rgb(0 0 0 / 10%);
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  background-color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.icon {
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  color: var(--white-color);
  font-size: var(--font-size-3xl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.categories-item-box p {
  font-weight: var(--font-bold);
  font-size: var(--font-size-xl);
}
.icon img {
  height: 4rem;
}
.item--one .icon {
  background-color: #92aee1;
}
.item--two .icon {
  background-color: #e0e068;
}
.item--three .icon {
  background-color: #3f5a80;
}
.item--four .icon {
  background-color: #009688;
}
.item--five .icon {
  background-color: #d4473d;
}
.item--six .icon {
  background-color: #109688;
}
