/* ------------------- */
/* Buttons         */
/* ------------------- */
.btn {
  font-family: inherit;
  padding: 1rem 2.5rem;
  outline: 0;
  border-radius: var(--border-radius-2sm);
  -webkit-border-radius: var(--border-radius-2sm);
  -moz-border-radius: var(--border-radius-2sm);
  -ms-border-radius: var(--border-radius-2sm);
  -o-border-radius: var(--border-radius-2sm);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.btn__primary {
  color: var(--white-color);
  background-color: var(--main-color);
}
.btn__primary:hover {
  background-color: var(--main-color);
}
.btn__secondary {
  color: var(--primary-color);
  background: var(--primary-color-2);
  font-weight: var(--font-bold);
}
