.hero {
  background-color: var(--primary-color-2);
  padding: 3.7em 0;
}
.hero__text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.hero__img {
  width: 46%;
  position: relative;
}
.hero__heading {
  font-size: 5rem;
  line-height: 6rem;
  color: var(--primary-color);
}
.hero__description {
  line-height: 3rem;
  color: var(--primary-color-7);
  font-weight: var(--font-medium);
}
.hero__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.hero__features-box {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.9rem 1rem;
  width: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.5s;
}
.hero__features-box img {
  height: 3rem;
  transition: all 0.5s;
}
.hero__features-box:hover {
  background: #0e1b2f;
}
.hero__features-box:hover img {
  -webkit-animation: toBottomFromUp 0.5s forwards;
  animation: toBottomFromUp 0.5s forwards;
}
.hero__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero__img .hero__main-img {
  height: 47rem;
  z-index: 3;
  border-radius: 59% 18% 33% 67% / 108% 70% 18% 32%;
  -webkit-border-radius: 59% 18% 33% 67% / 108% 70% 18% 32%;
  -moz-border-radius: 59% 18% 33% 67% / 108% 70% 18% 32%;
  -ms-border-radius: 59% 18% 33% 67% / 108% 70% 18% 32%;
  -o-border-radius: 59% 18% 33% 67% / 108% 70% 18% 32%;
  transform: translate(-2rem, -2rem);
  -webkit-transform: translate(-2rem, -2rem);
  -moz-transform: translate(-2rem, -2rem);
  -ms-transform: translate(-2rem, -2rem);
  -o-transform: translate(-2rem, -2rem);
}
.hero__img-shape {
  background-color: var(--main-color);
  height: 47rem;
  width: 36rem;
  position: absolute;
  z-index: 2;
}
.hero__img-shape:nth-child(2) {
  background-color: transparent;
  border-radius: 77% 19% 60% 38% / 22% 76% 23% 78%;
  -webkit-border-radius: 77% 19% 60% 38% / 22% 76% 23% 78%;
  -moz-border-radius: 77% 19% 60% 38% / 22% 76% 23% 78%;
  -ms-border-radius: 77% 19% 60% 38% / 22% 76% 23% 78%;
  -o-border-radius: 77% 19% 60% 38% / 22% 76% 23% 78%;
  border: 2px dashed var(--primary-color);
  height: 48rem;
  width: 37rem;
  -webkit-animation: moveLeftBounce 15s linear infinite;
  animation: moveLeftBounce 15s linear infinite;
}
.hero__img-shape:nth-child(3) {
  background-color: var(--main-color);
  border-radius: 26% 74% 19% 81% / 69% 27% 73% 31%;
  -webkit-border-radius: 26% 74% 19% 81% / 69% 27% 73% 31%;
  -moz-border-radius: 26% 74% 19% 81% / 69% 27% 73% 31%;
  -ms-border-radius: 26% 74% 19% 81% / 69% 27% 73% 31%;
  -o-border-radius: 26% 74% 19% 81% / 69% 27% 73% 31%;
  box-shadow: -7px 3px 10px #a5a5a5, 6px 2px 10px #a5a5a5;
  -webkit-box-shadow: -7px 3px 10px #a5a5a5, 6px 2px 10px #a5a5a5;
  -webkit-animation: moveBounce 15s linear infinite;
  animation: moveBounce 15s linear infinite;
}
.hero__icon-shape {
}
.hero__icon-shape img {
  position: absolute;
}
.hero__icon--one {
  left: 9rem;
  top: 4rem;
  height: 3rem;
}
.hero__icon--two {
  left: -1rem;
  top: -2rem;
  height: 5rem;
}
.hero__icon--three {
  left: -1rem;
  top: 30rem;
  height: 5rem;
}
.hero__icon--four {
  right: 5rem;
  top: -2rem;
  height: 5rem;
}
