.popular-searches {
  padding: 2.7em 0 4.7em;
}
/* tabs */
.tab__item {
  color: #96979b;
  font-weight: var(--font-semi-bold);
  font-size: var(--font-size-1xl);
  padding: 1.5rem 1rem;
  cursor: pointer;
  border-right: 3px solid #d7d9de;
}
.tab__item:first-child {
  padding-top: 0rem;
}
.tab__item:last-child {
  padding-bottom: 0rem;
}
.tab__item.active {
  color: var(--primary-color);
  border-right: 3px solid var(--main-color);
}
/* .search__tabs {
  -ms-flex: 0 0 11%;
  flex: 0 0 11%;
  max-width: 11%;
}
.tabs__content {
  -ms-flex: 0 0 87%;
  flex: 0 0 87%;
  max-width: 87%;
} */
.tab__content {
  -ms-grid-columns: (minmax(16rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  display: -ms-grid;
  display: none;
  gap: 1em;
}
.tab__content.active {
  display: grid;
}
.search__category {
  display: grid;
  grid-template-columns: 13rem 6fr;
  gap: 2rem;
}
