.popular-searches {
  padding: 2.7em 0 4.7em;
}
/* tabs */
.tab__item {
  color: #96979b;
  font-weight: var(--font-semi-bold);
  font-size: var(--font-size-1xl);
  margin-bottom: 2rem;
  cursor: pointer;
}
.tab__item.active {
  color: var(--primary-color);
}
.search__tabs {
  padding-right: 2rem;
  border-right: 2px solid var(--main-color);
  -ms-flex: 0 0 11%;
  flex: 0 0 11%;
  max-width: 11%;
}
.tabs__content {
  -ms-flex: 0 0 87%;
  flex: 0 0 87%;
  max-width: 87%;
}
.tab__content {
  -ms-grid-columns: (minmax(16rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  display: -ms-grid;
  display: grid;
  gap: 1em;
}
