.search__banner {
  background-color: var(--white-color);
  position: relative;
  width: 93%;
  padding: 6rem 3rem;
  border-radius: var(--border-radius-md);
  -webkit-border-radius: var(--border-radius-md);
  -moz-border-radius: var(--border-radius-md);
  -ms-border-radius: var(--border-radius-md);
  -o-border-radius: var(--border-radius-md);
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 7%);
  -webkit-box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 7%);
  margin: -17rem 0 0;
  z-index: 4;
}
.search__inputs {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  width: 100%;
}
.search__item {
  -ms-flex: 0 0 44%;
  flex: 0 0 44%;
  max-width: 44%;
}
.search__banner .search__item:last-child {
  -ms-flex: 0 0 6%;
  flex: 0 0 6%;
  max-width: 6%;
}
.search__banner .btn__primary {
  padding: 2.3rem 2.2rem;
}
.search__description {
  margin-top: 1.5rem;
}
.search__description p {
  font-weight: var(--font-semi-bold);
  color: var(--primary-color);
}
.search__tags {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.search__tags .btn__secondary {
  font-weight: var(--font-semi-bold);
  padding: 1rem 1.8rem;
}
.btn__more {
  color: var(--main-color);
  background-color: var(--primary-color-1);
}
