.specialist .specialist__wrapper {
  -ms-grid-columns: (minmax(26rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr)); 
  gap: 2rem;
}
.specialist__item {
  -webkit-box-shadow: 0px 0px 20px 0px #ddd;
  box-shadow: 0px 0px 20px 0px #ddd;
  padding: 1.3rem;
  border-radius: var(--border-radius-md);
  -webkit-border-radius: var(--border-radius-md);
  -moz-border-radius: var(--border-radius-md);
  -ms-border-radius: var(--border-radius-md);
  -o-border-radius: var(--border-radius-md);
  text-align: center;
  cursor: pointer;
  -webkit-transition: transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  -moz-transition: transform 0.28s ease;
  -ms-transition: transform 0.28s ease;
  -o-transition: transform 0.28s ease;
}
.specialist__image {
  background-color: var(--primary-color-4);
  margin-bottom: 1.5rem;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  position: relative;
}
.specialist__image img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.specialist__item:hover .specialist__image img {
  transform: rotate(2deg) scale(1.08);
  -webkit-transform: rotate(2deg) scale(1.08);
  -moz-transform: rotate(2deg) scale(1.08);
  -ms-transform: rotate(2deg) scale(1.08);
  -o-transform: rotate(2deg) scale(1.08);
}
.specialist__item:hover {
  /* -webkit-transform: scale(1.08) translateZ(0);
  transform: scale(1.08) translateZ(0); */
}

.specialist__content h3 {
  margin-bottom: 1rem;
  color: var(--primary-color);
}
.specialist__content h3 a {
  color: var(--primary-color);
}
.specialist__content p {
  color: var(--primary-color-7);
  font-weight: var(--font-medium);
}
.specialist__overlay {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background: #00c6ff;
  background: -webkit-linear-gradient(
    to right,
    rgba(15, 75, 149, 0.54),
    rgba(0, 198, 255, 0.52)
  );
  background: linear-gradient(
    to right,
    rgba(15, 75, 149, 0.54),
    rgba(0, 198, 255, 0.52)
  );
  border-radius: var(--border-radius-md);
  -webkit-border-radius: var(--border-radius-md);
  -moz-border-radius: var(--border-radius-md);
  -ms-border-radius: var(--border-radius-md);
  -o-border-radius: var(--border-radius-md);
  z-index: 2;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.specialist__item:hover .specialist__overlay {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
  opacity: 1;
}
.specialist__link {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  background-color: var(--main-color);
  color: var(--white-color);
  background: var(--primary-color);
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  font-size: 2rem;
  z-index: 4;
  opacity: 0;
  position: absolute;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specialist__item:hover .specialist__link {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.3s;
  transform: scale(1);
  opacity: 1;
}
.specialist .pagination__wrapper {
  place-items: center;
  margin-top: 3rem;
}
